/* Style Sheet */

* {
    font-family: "Roboto", sans-serif;
    margin-left: 12px;
    margin-right: 12px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.logo-header {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 70px;
}

.left-links {
    display: flex;
    color: #d6cfcf;
    list-style-type: none;
    gap: 12px;
    margin-right: 70px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 70px;
    gap: 70px;
}

.write-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 12px;

}

.write-2 {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-1 {
    background-color: #3882F6;
    color: #ffffff;
    font-size: 17px;
    border-radius: 13px;
    border: 4px #3882F6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.gallery {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.gallery-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -50px;
}

.section-2 {
    background-color: #f7f0f0;
    padding: 70px;
}
.section-3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 100px;
}

.author {
    display: flex;
    justify-content: center;
    padding-left: 700px;
    margin-top: 30px;
    font-weight: 900;
}

.section-4 {
    margin: 70px;
}

.call {
    background-color: #3882F6;
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
}
.main {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 1px;
}

.support {
    font-size: 16px;
    margin-top: 2px;
}

.button {
    font-size: 17px;
    border: 2px solid #fcfcfc;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #ffffff;
    padding: 70px;
}